# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc


# Output directories
output_plots/
output_results/

tests/test_model_evaluation/output_plots/
tests/test_model_evaluation/output_result/